In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
xls = pd.ExcelFile(r"C:\Users\SHIVAM MAHAJAN\Desktop\Github\EXL data\Stage 1.EXL_EQ2017_Telecom_Data Set_Final Ver6.0.xlsx")
demo_data = xls.parse(0,parse_dates=True)

In [24]:
demo_data.head()

,Account Number,Commence Date,Address,Scheme,Staus,Gender,Region,Sale of Equipment Status,Age,Equipment Warranty,Salary Slab,Professional Info,Age of Home,Equipment Warranty Expiry Date,Churn Date
0,M1,2011-11-04,VALID,KLA,Open,Female,Northern,RENTED,70,Three Full Years,5,0,17,2015-04-03,NaN
1,M2,2011-11-28,VALID,PPL,Open,Female,Western,RENTED,55,Three Full Years,7,0,22,2015-04-03,NaN
2,M3,2011-12-06,VALID,KLA,Open,Male,Eastern,RENTED,64,Three Full Years,1,5,17,2016-04-03,NaN
3,M4,2011-10-28,VALID,MXX,Open,Female,Northern,RENTED,66,Three Full Years,6,14,22,2015-04-03,NaN
4,M5,2015-01-18,VALID,PRP,Open,NaN,Western,RENTED,NaN,Full Year,NaN,NaN,NaN,2016-01-03,NaN

In [25]:
demo_data.shape

(14952, 15)

### Training and test data

In [91]:
def isModel(x):
    return x.startswith("M")

In [96]:
a = demo_data["Account Number"].apply(isModel)
a = np.array(a)
test_demo_data = demo_data[~a]
demo_data = demo_data[a]
test_demo_data.head()

,Account Number,Commence Date,Address,Scheme,Staus,Gender,Region,Sale of Equipment Status,Age,Equipment Warranty,Salary Slab,Professional Info,Age of Home,Equipment Warranty Expiry Date,Churn Date
9966,V1,2012-09-27,VALID,PWR,Open,NaN,Southern,RENTED,NaN,Three Full Years,NaN,NaN,NaN,2015-08-03,NaN
9967,V2,2012-01-26,VALID,PRS,Open,Female,Western,RENTED,71,Three Full Years,12,18,22,2016-08-03,NaN
9968,V3,2013-05-14,VALID,MXX,Open,Male,Eastern,BOUGHT,69,Three Full Years,9,8,22,2015-08-03,NaN
9969,V4,2011-10-12,VALID,PWM,Open,Male,Eastern,RENTED,71,Three Full Years,5,19,22,2015-07-30,NaN
9970,V5,2014-07-31,VALID,KLA,Open,Male,Northern,RENTED,61,Three Full Years,6,13,22,2016-07-15,NaN

In [123]:
train_acc = np.unique(demo_data["Account Number"])
test_acc = np.unique(test_demo_data["Account Number"])

In [97]:
demo_data.shape

(9966, 15)

In [117]:
test_demo_data.shape

(4986, 15)

### Splitting training demo data to Churners and Non Churners

In [99]:
churn_demo_data = demo_data[~demo_data["Churn Date"].isnull()]
churn_demo_data.shape

(506, 15)

In [100]:
churn_demo_data.head()

,Account Number,Commence Date,Address,Scheme,Staus,Gender,Region,Sale of Equipment Status,Age,Equipment Warranty,Salary Slab,Professional Info,Age of Home,Equipment Warranty Expiry Date,Churn Date
51,M52,2012-04-04,VALID,PWR,Open,Female,Eastern,RENTED,71,Three Full Years,5,0,17,2015-03-29,2015-05-30 00:00:00
73,M74,2012-02-08,VALID,PWP,Open,Male,Eastern,BOUGHT,59,Three Full Years,5,0,12,2015-03-25,2015-05-23 00:00:00
76,M77,2013-03-02,INVALID,PWR,Open,Female,Western,Second Hand,59,Three Full Years,6,0,22,2015-04-03,2015-05-01 00:00:00
79,M80,2012-01-19,VALID,PWM,Open,Female,Eastern,BOUGHT,51,Three Full Years,4,10,12,2015-03-29,2015-05-27 00:00:00
92,M93,2012-02-22,VALID,PWM,Open,Female,Eastern,BOUGHT,55,Three Full Years,4,0,17,2015-03-07,2015-04-05 00:00:00

In [101]:
churn_acc_num = np.unique(churn_demo_data["Account Number"])
len(churn_acc_num)

506

In [102]:
non_churn_demo_data = demo_data[demo_data["Churn Date"].isnull()]
non_churn_demo_data.head()

,Account Number,Commence Date,Address,Scheme,Staus,Gender,Region,Sale of Equipment Status,Age,Equipment Warranty,Salary Slab,Professional Info,Age of Home,Equipment Warranty Expiry Date,Churn Date
0,M1,2011-11-04,VALID,KLA,Open,Female,Northern,RENTED,70,Three Full Years,5,0,17,2015-04-03,NaN
1,M2,2011-11-28,VALID,PPL,Open,Female,Western,RENTED,55,Three Full Years,7,0,22,2015-04-03,NaN
2,M3,2011-12-06,VALID,KLA,Open,Male,Eastern,RENTED,64,Three Full Years,1,5,17,2016-04-03,NaN
3,M4,2011-10-28,VALID,MXX,Open,Female,Northern,RENTED,66,Three Full Years,6,14,22,2015-04-03,NaN
4,M5,2015-01-18,VALID,PRP,Open,NaN,Western,RENTED,NaN,Full Year,NaN,NaN,NaN,2016-01-03,NaN

In [122]:
test_non_churn_demo_data = test_demo_data[test_demo_data["Churn Date"].isnull()]
test_non_churn_demo_data.shape

(4986, 15)

In [103]:
non_churn_acc_num = np.unique(non_churn_demo_data["Account Number"])
len(non_churn_acc_num)

9460

In [104]:
pattern_data = xls.parse(4)
pattern_data.head()

,Account Number,Used pattern in hours,Usage Post Limit Utilization in hrs,data used Gb,YYYYMM
0,M1,717.90,0,43.80,201501
1,M1,662.42,0,110.35,201502
2,M1,634.68,0,109.10,201503
3,M2,696.12,5,98.40,201501
4,M2,652.40,0,70.90,201502

In [127]:
test_pattern_data = pattern_data[pattern_data["Account Number "].isin(test_acc)]
test_pattern_data.head()

,Account Number,Used pattern in hours,Usage Post Limit Utilization in hrs,data used Gb,YYYYMM
27703,V1,400.52,0,78.15,201505
27704,V1,587.93,0,37.30,201506
27705,V1,647.40,0,115.00,201507
27706,V2,699.75,232,226.30,201505
27707,V2,658.43,35,119.10,201506

In [128]:
pattern_data = pattern_data[pattern_data["Account Number "].isin(train_acc)]
pattern_data.head()

,Account Number,Used pattern in hours,Usage Post Limit Utilization in hrs,data used Gb,YYYYMM
0,M1,717.90,0,43.80,201501
1,M1,662.42,0,110.35,201502
2,M1,634.68,0,109.10,201503
3,M2,696.12,5,98.40,201501
4,M2,652.40,0,70.90,201502

In [129]:
churn_pattern_data = pattern_data[pattern_data["Account Number "].isin(churn_acc_num)]
churn_pattern_data.head()

,Account Number,Used pattern in hours,Usage Post Limit Utilization in hrs,data used Gb,YYYYMM
140,M52,742.72,0,18.55,201501
141,M52,694.60,0,11.15,201502
142,M52,709.87,0,8.45,201503
205,M74,613.13,31,209.60,201501
206,M74,523.20,0,182.75,201502

In [130]:
non_churn_pattern_data = pattern_data[~pattern_data["Account Number "].isin(churn_acc_num)]
non_churn_pattern_data.head()

,Account Number,Used pattern in hours,Usage Post Limit Utilization in hrs,data used Gb,YYYYMM
0,M1,717.90,0,43.80,201501
1,M1,662.42,0,110.35,201502
2,M1,634.68,0,109.10,201503
3,M2,696.12,5,98.40,201501
4,M2,652.40,0,70.90,201502

### Data processing - Missing value

In [131]:
churn_pattern_data.isnull().sum()

Account Number                         0
Used pattern in hours                  0
Usage Post Limit Utilization in hrs    0
data used Gb                           0
YYYYMM                                 0
dtype: int64

In [132]:
non_churn_pattern_data.isnull().sum()

Account Number                         0
Used pattern in hours                  0
Usage Post Limit Utilization in hrs    0
data used Gb                           0
YYYYMM                                 0
dtype: int64

In [133]:
churn_demo_data.isnull().sum()

Account Number                      0
Commence Date                       0
Address                            36
Scheme                              0
Staus                               0
Gender                             93
Region                              0
 Sale of Equipment Status           0
Age                               135
Equipment Warranty                141
Salary Slab                        90
Professional Info                  90
Age of Home                        90
Equipment Warranty Expiry Date    141
Churn Date                          0
dtype: int64

### Churners used hrs statistics in last 3 months

In [134]:
churn_hrs_3_months = churn_pattern_data.groupby(churn_pattern_data["Account Number "])["Used pattern in hours"].mean()
len(churn_hrs_3_months)

456

In [135]:
churn_hrs_range_3_months = np.max(churn_hrs_3_months) - np.min(churn_hrs_3_months)
churn_hrs_range_3_months

727.49000000000001

In [136]:
churn_hrs_3_months.describe()

count    456.000000
mean     540.759883
std      164.439905
min        1.080000
25%      461.952500
50%      590.406667
75%      663.257500
max      728.570000
Name: Used pattern in hours, dtype: float64

### Churners hours post limit in last 3 months statistics

In [137]:
churn_post_hrs_3_months = churn_pattern_data.groupby(churn_pattern_data["Account Number "])["Usage Post Limit Utilization in hrs"].mean()
churn_post_hrs_3_months.head()

Account Number
M1055    45.000000
M1062     0.000000
M1109    38.666667
M1128     0.000000
M1156     0.000000
Name: Usage Post Limit Utilization in hrs, dtype: float64

In [138]:
churn_post_hrs_range_3_months = np.max(churn_post_hrs_3_months) - np.min(churn_post_hrs_3_months)
churn_post_hrs_range_3_months

490.0

In [139]:
churn_post_hrs_3_months.describe()

count    456.000000
mean      65.053728
std      104.223057
min        0.000000
25%        0.000000
50%        0.000000
75%       99.500000
max      490.000000
Name: Usage Post Limit Utilization in hrs, dtype: float64

### Non Churners used hrs statistics in last 3 months

In [140]:
non_churn_hrs_3_months = non_churn_pattern_data.groupby(non_churn_pattern_data["Account Number "])["Used pattern in hours"].mean()
non_churn_hrs_3_months.head()

Account Number
M1        671.666667
M10       604.800000
M100      694.143333
M1000     412.490000
M10000    689.690000
Name: Used pattern in hours, dtype: float64

In [141]:
non_churn_hrs_3_months.describe()

count    9181.000000
mean      612.244067
std       126.204761
min         1.050000
25%       585.320000
50%       646.226667
75%       692.310000
max       729.393333
Name: Used pattern in hours, dtype: float64

In [143]:
non_churn_hrs_range_3_months = 729.39-1.05
non_churn_hrs_range_3_months

728.34

### Non Churners post used hours statistics in last 3 months

In [145]:
non_churn_post_hrs_3_months = non_churn_pattern_data.groupby(non_churn_pattern_data["Account Number "])["Usage Post Limit Utilization in hrs"].mean()
non_churn_post_hrs_3_months.head()

Account Number
M1          0
M10         0
M100        0
M1000       0
M10000    199
Name: Usage Post Limit Utilization in hrs, dtype: float64

In [146]:
non_churn_post_hrs_3_months.describe()

count    9181.000000
mean       54.243292
std        97.346963
min         0.000000
25%         0.000000
50%         0.000000
75%        71.000000
max       584.000000
Name: Usage Post Limit Utilization in hrs, dtype: float64