In [1]:
import numpy as np
import pandas as pd
df_train_data = pd.read_csv(r"C:\Users\SHIVAM MAHAJAN\Desktop\Github\EXL data\df_train_data.csv")
df_test_data = pd.read_csv(r"C:\Users\SHIVAM MAHAJAN\Desktop\Github\EXL data\df_test_data.csv")
df = pd.concat([df_train_data, df_test_data])

In [19]:
import matplotlib.pyplot as plt

### Salary based

In [2]:
df.head()

,Account Number,Gender,Age,Salary Slab,Age of Home,Churners,Sum,payment_complaint,account_complaint,utility_complaint,...,Accounting,Academics,Automative,Banking,Defence,Finance,Pharma,Labour,Others,Scheme_PRM
0,M1189,1,43,3,7,0,876.645,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,M3864,1,63,4,12,0,748.440,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,M7957,1,29,9,17,0,1883.945,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,M2413,0,50,4,7,0,874.860,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,M3528,1,51,3,12,0,7.770,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
Salaries_count = df["Salary Slab"].value_counts()
Salaries_count

4     3288
3     2043
6     1489
5     1274
7      504
1      444
2      442
8      208
9      168
10      52
13      31
11      13
12      10
Name: Salary Slab, dtype: int64

In [16]:
salary_list = []
for i in range(1,13,4):
    sum = 0
    for j in range(4):
        try:
            sum+=Salaries_count[i+j]
            
        except:
            continue
    salary_list.append(sum)

In [17]:
salary_list

[6217, 3475, 243]

In [27]:
plt.bar([0,1,2],salary_list,align="center",width=0.4,color = "yellow")
plt.xticks([0,1,2],["Low","Medium","High"])
plt.xlabel("Salary Size")
plt.ylabel("Number of Churners")
plt.title("Variation of Salary with Number of Churners")
plt.show()